$font-head: theme('fontFamily.head');
$font-body: theme('fontFamily.body');

$primary: theme('colors.primary');
$secondary: theme('colors.secondary');
$text: theme('colors.text');
$lightblue: theme('colors.lightblue');
$grey: theme('colors.grey');

$theme-gradient-1: theme('backgroundImage.theme-gradient-1');
$theme-gradient-2: theme('backgroundImage.theme-gradient-2');
$theme-gradient-menu: theme('backgroundImage.theme-gradient-menu');
$theme-gradient-border: theme('backgroundImage.theme-gradient-border');